<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/icon.png">
  <script src="https://kit.fontawesome.com/c9b45f714a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styles.css">
  <title>About</title>
</head>
<body>
  <div class="current">
  {{>header}}
  </div>
  <div class="section-a">
    <div class="about-me">
      <img src="/img/Cohesive.jpg" alt="">
      <div class="about">
        <p>I am an Epicodus graduate looking to find my place in the webdev world. This application is a small project to familiarize myelf a little better with Nodejs and Express.js. Feel free to reach out to me on linkedIn or Github. <span><i class="fas fa-cat"></i></span></p>
      </div>
    </div>
  </div>
  <div class="footer">
    {{>footer}}
  </div>
</body>
</html>