<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/icon.png">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/c9b45f714a.js" crossorigin="anonymous"></script>
  <title>Error</title>
</head>
<body>
  <div class="current">
  {{>header}}
  </div>
  <div class="section-a">
    <p><span><i class="fas fa-exclamation-triangle"></i></span> {{errorMessage}}</p>
  </div>
  <div class="footer">
    {{>footer}}
  </div>
</body>
</html>