<p>Created By: <a href="https://www.nicklindau.com/">{{name}}</a></p>
<ul>
  <li><a href="https://github.com/NickyLind"><i class="fab fa-github"></i></a></li>
  <li><a href="https://www.linkedin.com/in/nicholaslindau/"><i class="fab fa-linkedin"></i></a></li>
  <li><a href="https://www.nicklindau.com/"><i class="fas fa-user"></i></a></li>
</ul>