* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

/*! NAVBAR */
/* .navbar .current {
  border-bottom: solid 2px maroon;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: #333;
  height: 5rem;
  width: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  padding: 1rem 1rem;
}

.navbar h1 {
  margin-left: 2rem;
}

.navbar h1 {
  text-align: center;
  color: #fff;
}

.navbar a {
  text-decoration: none;
  color: white;
  background-color: #333;
  text-transform: uppercase;
  border-bottom: 2px transparent solid;
  transition: border-color 1s, color 1.5s ease;
}

.navbar a:hover {
  color: maroon;
  border-color: #ccc;
}

.navbar a:last-child {
  margin-right: 2rem;
}

/*! BODY */

.section-a {
  width: 100%;
  height: 83.4vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.section-a img {
  display: block;
  height: auto;
  width: 250px;
  margin: 0.75rem auto;
  max-width: 650px;
  display: block;
}

.section-a h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #333;
}

.section-a h2 svg {
  color: red;
}

.section-a p {
  font-size: 1rem;
  color: #333;
}

.section-a input {
  height: 3rem;
  max-width: 300px;
  width: 300px;
  border-radius: 5px;
  border: 3px solid maroon;
}

.section-a button {
  color: #ccc;
  background-color: #333;
  height: 3rem;
  width: 4rem;
  border-radius: 5px;
  cursor: pointer;
}

.section-a .directions {
  width: 300px;
  color: #ccc;
  background-color: #333;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid maroon;
  box-shadow: 5px 5px 5px;
}

.section-a .about-me {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.section-a .about-me .about {
  padding: 1rem;
  width: 250px;
  height: auto;
  margin: 0.75rem auto;
  background-color: #333;
  border-radius: 5px;
}

.section-a .about-me .about p {
  color: #ccc;
}

body {
  display: flex;
  flex-direction: column;
}

/*! FOOTER */
.footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background-color: #333;
  color: #ccc;
}

.footer p {
  margin-left: 2rem;
  font-style: italic;
}

.footer a {
  color: #ccc;
  transition: color 0.75s;
}

.footer a:hover {
  color: maroon;
}

.footer ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

/*! MEDIA-QUERIES */

@media (max-width: 780px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar h1 {
    margin: auto;
  }

  .navbar ul {
    background-color: #333;
    width: 100%;
  }

  .navbar ul li {
    margin: auto;
    padding: 0.5rem 0.5rem;
  }

  .navbar a:last-child {
    margin-right: auto;
  }

  .section-a {
    height: 83.4vh;
  }

  .section-a p {
    width: 250px;
    text-align: center;
  }

  .section-a .about-me {
    flex-direction: column;
  }

  .section-a .about-me .about {
    width: fit-content;
  }

  .footer {
    /* position: absolute;
    bottom: 0; */
  }
}
